@media(max-width: 1200px)/*1025-1200*/ {

}
@media (max-width: 1024px)/*993-1024*/{
    .container{
        max-width: 950px;
    }
    .box {
        width: 220px;
        margin: 10px 50px 0;
        background-color: #128277;
    }
    .out {
        margin: 147px 30px;
        padding: 11px;
        width: 360px;
    }
    input[type=range] {
        width: 283px;
        margin: 14px 20px;
    }
    .range-block p {
        margin: 10px -4px 0;
    }
    .range-block {
        width: 350px;
    }
    .gradient {
        padding: 10px 0;
    }
    input[type="color" i] {
        margin-right: 20px;
    }
    .range-blocks {
        width: 359px;
    }
    .box {
        width: 200px;
        margin: 10px -89px 0;
    }
    .out {
        margin: 145px -138px;
        padding: 11px;
        width: 347px;
        font-size: 16px;
    }
}

@media(max-width: 992px) /*769-992*/{

}
@media(max-width: 680px) /*481-768*/{

}
@media(max-width: 480px) /*320-480*/{
    .container{
        max-width: 400px;
    }
    .p .input-title{
        margin: 0 12px;
    }
    .generator {
        grid-template-columns: 1fr;
    }
    .box {
        width: 200px;
        margin: 13px 47px 0;
    }
    .out {
        margin: 100px 10px;
    }
    h1 {
        font-size: 2em;
    }
}